body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
p{
    text-align: justify;
}
nav{
    background: url("https://images.pexels.com/photos/943903/pexels-photo-943903.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    height: 70vh;
    background-size: cover;
}
.text h4{
    color: rgb(187, 169, 6);
    font-size: 30px;
    margin-left: 200px;
    margin-top: 20%;
}

.text h1{
    color: whitesmoke;
    font-size: 50px;
    margin-left: 300px;
}
.text p{
    color: rgb(5, 146, 99);
    margin-left: 250px;
    font-family: Coda Caption;
}
.coverBg{
    display: flex;
    justify-content: space-between;
    background: rgba(0,0,0,0.6);
}
.myPicInNav{
    height: 70vh;
    width: 30%;
}
.grid{
    display: flex;
    justify-content: space-between;
}
.card1{
    margin-left: 100px;
}
a{
    text-decoration: none;
}
.card1 p,
.card2 p,
.card3 p{
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);    color: whitesmoke;
    width: 40vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 20px;
}
.card1,
.card2,
.card3{
    margin-top: -40px;
}
.card1 button,
.card2 button,
.card3 button{
    width: 40vh;
    height: 20vh;
    margin-top: -20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: rgb(230, 247, 1);
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    cursor: pointer;
    font-size: 20px;
    border: none;
    outline: none;
}
button a{
    list-style: none;
    color: aliceblue;

}
.card1 button:hover,
.card2 button:hover,
.card3 button:hover{
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    color: whitesmoke;
}
.card3{
    margin-right: 100px;
}
.Hire{
    margin-left: 300px;
    width: 20vh;
    height: 5vh;
    border-radius: 40px;
    outline: none;
    border: none;
    background: rgb(161, 5, 5);
    color: whitesmoke;
    cursor: pointer;   
}
.Hire:hover{
    background: rgba(0,0,0,0.2);
}
.aboutMe h3,
.contact h3,
.skill h3,
.education h3{
    text-align: center;
}

.subtititle{
    display: flex;
    justify-content: center;
}
.subtititle .text{
    margin-top: -15px;
    font-weight: bold;
}
.ruler{
    width: 10vh;
    height: 0.5vh;
    background: rgb(209, 5, 5);
    margin-top: -5px;
}
.aboutMeContent{
    display: grid;
    grid-template-columns: 2.5fr 5fr;
    grid-template-areas: "leftSide rightSide";
}
.leftSide img{
    grid-area: 'leftside';
    margin-left: 100px;
    width: 40vh;
    height: 40vh;
    margin-top: -15vh;
}
.rightSide{
    grid-area: 'rightside';
    margin-right: 100px;
    text-indent: 50px;
}
.rightSide button{
    width: 20vh;
    height: 5vh;
    background: rgb(170, 0, 0);
    list-style: none;
    text-decoration: none;
    outline: none;
    border-radius: 20px;
    float: right;
}
footer{
    background: #000;
    padding: 10px;
}
footer p{
    text-align: center;
    color: aliceblue;
}
footer p span{
    color: brown;
}
.edu,
.skillDetail{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-areas: 'left right';
}
.left{
    grid-area: 'left';
    margin-left: 100px;
    text-indent: 50px;
    float: left;
}
.right{
    grid-area: 'right';
    margin-right: 100px;
    margin-left: 30px;
    float: right;
}
.getInTouch{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'left right';
    padding: 20px;
    margin: 30px;
}
form input{
    width: 100%;
    display: inline-block;
    margin: 5px;
    height: 5vh;
}
#textare{
    margin-left: 5px;
    margin-top: 5px;
}
#submit{
    padding: 5px;
    width: 40vh;
    background: rgb(185, 1, 1);
    outline: none;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 5px;
}
.app{
    padding: 5px;
    border-radius: 20px;
    width: 50%;
    position: sticky;
    bottom: 0;
    display: flex;
}
.app .icon{
    width: 4vh;
    height: 4vh;
}
#map{
    width: 20vh;
    height: 10vh;
    margin-left: 5vh;
}
