body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('https://cdn.suwalls.com/wallpapers/3d/statue-out-of-glass-shards-26515-1920x1080.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.education{
    background: rgba(66, 0, 189, 0.4);
    padding: 70px;
}
p{
    text-align: justify;
    color: rgb(248, 248, 248);
}
.aboutMe{
    padding: 70px;
}
h4{
    color: blanchedalmond;
}
nav{
    background: url('https://cdn.wallpapersafari.com/98/58/JI9tWi.jpg');
    height: 70vh;
    background-size: cover;
    width: 100%;
    border-bottom: rgb(0, 0, 0) solid 1px;
    motion-rotation: 0 -30px;
}
.text h4{
    color: rgb(255, 230, 5);
    font-size: 30px;
    margin-left: 200px;
    margin-top: 20%;
}

.animation{
    margin-left: 300px;

}
.contact{
    background:  rgba(66, 0, 189, 0.4);
    padding: 70px;
    margin-top: 20vh;
}
.text p{
    color: rgb(251, 255, 4);
    margin-left: 250px;
    font-family: Coda Caption;
    font-size: 20px;
}
.coverBg{
    display: flex;
    justify-content: space-between;
}
.myPicInNav{
    height: 70vh;
    width: 30%;
}
.grid{
    display: flex;
    justify-content: space-between;
}
.card1{
    margin-left: 100px;
}
a{
    text-decoration: none;
}
.card1 p,
.card2 p,
.card3 p{
    background: rgb(80, 19, 1);
    width: 40vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 20px;
}
.card1,
.card2,
.card3{
    margin-top: -40px;
}
.card1 button,
.card2 button,
.card3 button{
    width: 40vh;
    height: 20vh;
    margin-top: -20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: rgb(230, 247, 1);
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaUV_sKQFgMupkyz6VEtNBf_8TIYMe45wZZA&usqp=CAU');
    cursor: pointer;
    font-size: 20px;
    border: none;
    outline: none;
    border-bottom: cornsilk solid 2px;
}
.goUp{
    float: right;
    width: 7vh;
    height: 7vh;
    position: sticky;
    bottom: 0;
}
button a{
    list-style: none;
    color: aliceblue;

}
.card1 button:hover,
.card2 button:hover,
.card3 button:hover{
    color: whitesmoke;
}
.card3{
    margin-right: 100px;
}
.Hire{
    margin-left: 300px;
    width: 20vh;
    height: 5vh;
    border-radius: 40px;
    outline: none;
    border: none;
    background: rgb(161, 5, 5);
    color: whitesmoke;
    cursor: pointer;   
}
.Hire:hover{
    background: rgba(0,0,0,0.2);
}
.aboutMe h3,
.contact h3,
.skill h3,
.education h3{
    text-align: center;
    color: blanchedalmond;
}

.subtititle{
    display: flex;
    justify-content: center;
}
.subtititle .text{
    margin-top: -15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.edu .left p{
    margin-top: -10px;
}
.ruler{
    width: 10vh;
    height: 0.5vh;
    background: rgb(209, 5, 5);
    margin-top: -5px;
}
.aboutMeContent{
    display: grid;
    grid-template-columns: 2.5fr 5fr;
    grid-template-areas: "leftSide rightSide";
}
.leftSide img{
    grid-area: 'leftside';
    margin-left: 100px;
    width: 40vh;
    height: 40vh;
    border-radius: 20px;
    box-shadow: 5px 10px #240303;

}
.rightSide{
    grid-area: 'rightside';
    margin-right: 100px;
    text-indent: 50px;
    background: rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 10px #110101;
}
.rightSide button{
    width: 20vh;
    height: 5vh;
    background: rgb(170, 0, 0);
    list-style: none;
    text-decoration: none;
    outline: none;
    border-radius: 20px;
    float: right;
}
footer{
    background: #000;
    padding: 10px;
}
footer p{
    text-align: center;
    color: aliceblue;
}
footer p span{
    color: brown;
}
.edu,
.skillDetail{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-areas: 'left right';
}
.left{
    grid-area: 'left';
    margin-left: 100px;
    text-indent: 50px;
    float: left;
}
.right{
    grid-area: 'right';
    margin-right: 100px;
    margin-left: 30px;
    float: right;
    
}
.getInTouch{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'left right';
    padding: 20px;
    margin: 30px;
}
form input{
    width: 100%;
    display: inline-block;
    margin: 5px;
    height: 5vh;
}
#textare{
    margin-left: 5px;
    margin-top: 5px;
}
#submit{
    padding: 5px;
    width: 40vh;
    background: rgb(185, 1, 1);
    outline: none;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 5px;
}
.app{
    border-radius: 20px;
    width: 50%;
    position: sticky;
    bottom: 0;
    display: flex;

}
.app .icon{
    width: 6vh;
    height: 6vh;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 2px 6px #180202;
}

.left p{
    background: rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 10px #240202;
}
.right img{
    border-radius: 20px;
    border: none;
    box-shadow: 5px 10px #270303;
}
/*testing*/
.animation h1 {
 /* Keeps the content on a single line */
    width: 12ch;
    font-size: 50px;
    color: rgb(255, 251, 0);

  }
  /* The typing effect */
input[type=submit]{
    color: white;
}

.animation h1{
    --animation-duration: 5s;
}
input[type=text],
#email,
textarea{
    border-radius: 5px;
    border: none;
    outline: none;
    background: rgba(136, 179, 179,0.4);
    color: beige;
}